.no-gutter [class*="-6"] {
        padding-left:0;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
}

.full-height {
    height: 100%;
}

.cont-class {
    height:100%;
    padding-top:50px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
}

.ovf-hide {
    overflow:hidden;
}

.fill {
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

